[tool.mypy]
ignore_missing_imports = true
explicit_package_bases = true

[project]
name = "moppy"
version = "1.0.0"
description = "Modular Protocol server"
requires-python = ">=3.12, <3.14"
readme = "README.md"
license = { file = "LICENSE" }
authors = [
  { name = "rbaxim" }
]