name: Mypy Check

on: [push, pull_request]

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # This installs everything in your freeze, including types-aiofiles
          pip install -r requirements.txt
          pip install mypy

      - name: Run Mypy
        # We add --install-types and --non-interactive as a double-check
        run: mypy . --explicit-package-bases --install-types --non-interactive